apiVersion: v1
kind: Service
metadata:
  name: web-service
spec:
  type: LoadBalancer 
  selector:
    app: web
  ports:
    - protocol: TCP
      port: 80        # The port the world sees
      targetPort: 8080 # The port your app is listening on
      nodePort: 30080