name: Deploy to Kamatera K8s

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

      - name: Deploy to Kubernetes
        run: |
          # This applies your yaml files directly to the remote cluster
          kubectl apply -f deployment.yaml
          kubectl apply -f service.yaml
          
          # This forces Kubernetes to pull the newest version of the image
          kubectl rollout restart deployment/my-web-app